body {
    height: 1500px;
    font-family: Arial, Helvetica, sans-serif;
}

.static {
    background-color: lightblue;
    position: static;
}

.relative {
    background: lightcoral;
    position: relative;
    top: 50px;
    left: 30px;
}

.absolute {
    background: lightgreen;
    position: absolute;
    top: 20px;
    right: 30px;

}

.fixed {
    background: gold;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

.sticky {
    background: violet;
    position: sticky;
    right: 50px;

}