.main{
         padding: 0%;
         margin: 0%;
            width: 1000px;
            height: 540px;
            text-align: center;
            border:4px dashed black;
            
            
        }
        .R1{
            
            font-weight:bold;
            font-size: 2em;
            text-decoration: underline;
            width: 1000px;
            height:100px;
            background-color: rgb(241, 219, 127)
            

        }
        .R2{
            
            width: 1000px;
            height: 40px;
        }
        .R2a{
            
            width: 200px;
            height: 40px;
            float: left;
            background-color: blue;
        }
        .R2b{
            
            width: 200px;
            height: 40px;
            float: left;
            background-color:khaki;
        }
        .R2c{
            
            width: 200px;
            height: 40px;
            float: left;
            background-color:rgb(168, 240, 140);
        }.R2d{
            
            width: 200px;
            height: 40px;
            float: left;
            background-color:rgb(59, 59, 55);
        }.R2e{
            
            width: 200px;
            height: 40px;
            float: left;
            background-color:rgb(196, 76, 170);
        }
        .R3{
            width: 1000px;
            height: 200px;

        }
        .R3R{
            
            width: 750px;
            height: 200px;
            float: right;
            background-color: chocolate;
        }
        .R31{
            
            width: 250px;
            height: 40px;
            
            background-color:cornflowerblue;
        }
        .R32{
            
            width: 250px;
            height: 40px;
            background-color:rgb(237, 100, 175);
            
        }
        .R33{
            
            width: 250px;
            height: 40px;
            background-color:rgb(69, 81, 102);
            
        }
        .R34{
            
            width: 250px;
            height: 40px;
            background-color:rgb(230, 233, 238);
            
        }
        .R35{
            width: 250px;
            height: 40px;
            background-color:rgb(4, 6, 8);
            
        }
        
        .R4{
            width: 1000px;
            height: 60px;
            background-color: darkorange;

        }
        .R5{
            width: 1000px;
            height: 120px;
            background-color: burlywood;
        }
        .R51{
            width: 330px;
            height: 120px;
            float: left;
            background-color: rgb(75, 210, 228);
        }
        .R52{
            width: 330px;
            height: 120px;float: left;
            background-color: rgb(155, 64, 11);
        }
        .R53{
            width: 340px;
            height: 120px;
            float: left;
            background-color: crimson;
        }
        .R6{
            width: 1000px;
            height: 36px;
            background-color: cornflowerblue;
        }