*{
  margin: 0%;
  padding: 0%;
}
html body{
    height: 100%;
    width: 100%;
}
h2{
    background-color: blueviolet;
    margin: 50px;
    padding: 10px;
}

.colorfont{
    color: brown;
    text-align: center;
    font-style: italic;
    font-weight: bold;

}