.main{
    width: 300px;
    height: 300px;
    margin: auto;
   

}

h1{
    font: size 30px; 
    text-align: center;
    font-family: sans-serif;
 
    /* text-shadow: 10px 5px 4px  blue;*/
}
.flexExample{
    width: 1320px;
    margin: auto;
    display :flex;
    flex-wrap: wrap;


}
.flexItems{
    background: purple;
   color: aqua;
   text-align: center;
   margin: 10px;
   width: 500px;
}